<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-test-plug" version="1.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>testPlug</name>
    <js-module name="testPlug" src="www/testPlug.js">
        <clobbers target="cordova.plugins.testPlug" />
    </js-module>
</plugin>
